$radius: 25%;
$rojo: red;
$azul: blue;
$fuente: "Righteous";

  .bs {
  opacity: 0.8;
}
  .bs:hover{
    color: yellow !important;
  }
.formulario {
  margin-top: 100px;

}

 .espacio {
    padding-top: 100px;
    padding-bottom: 50px;
}

/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
    border-bottom: 30% !important;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 10px;
    text-decoration: underline;
    font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: black;
    color: black;
    text-decoration: overline;
    border-radius: 10%;

}
.fontcustom {
  font-family: $fuente;
}
