/* line 6, ../sass/custom.scss */
.bs {
  opacity: 0.8;
}

/* line 9, ../sass/custom.scss */
.bs:hover {
  color: yellow !important;
}

/* line 12, ../sass/custom.scss */
.formulario {
  margin-top: 100px;
}

/* line 17, ../sass/custom.scss */
.espacio {
  padding-top: 100px;
  padding-bottom: 50px;
}

/* Add a black background color to the top navigation */
/* line 23, ../sass/custom.scss */
.topnav {
  overflow: hidden;
  border-bottom: 30% !important;
}

/* Style the links inside the navigation bar */
/* line 29, ../sass/custom.scss */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 10px;
  text-decoration: underline;
  font-size: 20px;
}

/* Change the color of links on hover */
/* line 39, ../sass/custom.scss */
.topnav a:hover {
  background-color: black;
  color: black;
  text-decoration: overline;
  border-radius: 10%;
}

/* line 46, ../sass/custom.scss */
.fontcustom {
  font-family: "Righteous";
}

/* line 50, ../sass/custom.scss */
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 56, ../sass/custom.scss */
nav li {
  display: inline-block;
}

/* line 60, ../sass/custom.scss */
nav a {
  display: block;
  padding: 6px 12px;
  text-decoration: none;
}
